<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/menu') %>

        <div class="container mt-5">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Ouch!</h4>
                <p>Your request failed for the following reason:</p>
                <hr>
                <p style="white-space: pre-line;"><%= error %></p>
              </div>
        </div>

        <%- include('partials/script') %>
    </body>
</html>