<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/menu') %>

        <div class="container mt-5">
            <p class="text-center">Welcome to the blockchain prototype :)</p>
        </div>

        <%- include('partials/script') %>
    </body>
</html>